.jobDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #ffeeee;
}

.nav {
  background-color: #ffeeee;
}

.jobhead {
  margin-top: -1.5rem;
  z-index: 1;
  box-shadow: 0px 4px 23px 2px #0000001a;
  width: 64vw;
  padding: 1.5rem 2rem;
  background-color: white;

  > .jobheading {
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  }
}

.detailsContainer {
  box-shadow: 0px 4px 23px 2px #0000001a;
  width: 64vw;
  padding: 1.5rem 2rem;
  background-color: white;
  margin-bottom: 3rem;
}

.jobtime {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: center; */
}
.comp_Logo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.comp_Logo_grp {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.comp_Name {
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  color: #999999;
}

.time {
  font-family: DM Sans;
  font-size: 0.8rem;
  font-weight: 500;
  color: #999999;
}

.pos_editjob {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editjob_btn {
  background-color: #ed5353;
  border: none;
  border-radius: 0.5rem;
  font-family: DM Sans;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.jobrole {
  font-family: DM Sans;
  font-size: 2.3rem;
  font-weight: 700;
}

.roleLocation {
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  color: #ed5353;
}

.rolepay {
  display: flex;
  gap: 2rem;
}

.rolecontainer {
  margin: 1rem 0;
}

.payiconmain {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stipend,
.duratn {
  font-family: DM Sans;
  font-size: 0.9rem;
  font-weight: 400;
  color: #999999;
}

.moneyIcon,
.calenderIcon {
  color: #999999;
}

.payiconContainer,
.calendericonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.stipendnum,
.durationMonth {
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 500;
  color: #595959;
}

.aboutCompany,
.aboutJob,
.aboutskills,
.additionalContainer {
  margin: 1rem 0;
}

.AboutcompHeading,
.aboutJobHeading,
.skillsHeading,
.addiHeading {
  font-family: DM Sans;
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  margin: 1rem 0;
}

.aboutCompDetail,
.aboutJobDetails,
.skillTag,
.addiContent {
  font-family: DM Sans;
  font-size: 1.1rem;
  font-weight: 400;
  color: #595959;
}

.skillsContainer {
  display: flex;
  gap: 1rem;
}

.skillTag {
  background-color: #ffeeee;
  padding: 0.5rem;
  border-radius: 1.2rem;
}
